<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.korit.florographyapi.seedrecord.mapper.SeedrecordMapper">
    
    <resultMap id="SeedRecordResultMap" type="com.korit.florographyapi.entity.Seedrecord">
        <id property="id" column="seedrecord_id" />
        <result property="userId" column="user_id" />
        <result property="sentence" column="sentence"/>
        <result property="moodIdx" column="mood_idx"/>
        <result property="aiComment" column="ai_comment"/>
        <result property="createdDate" column="created_date"/>
        <association property="mood" resultMap="MoodResultMap"/>
    </resultMap>
    
    <resultMap id="MoodResultMap" type="com.korit.florographyapi.entity.Mood">
        <id property="id" column="mood_id"/>
        <result property="mood" column="mood_name"/>
    </resultMap>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into seedrecord values
        (default, #{userId}, #{sentence}, #{moodIdx}, #{aiComment}, #{createdDate})
    </insert>

    <update id="update">
        update
            seedrecord
        set
            sentence = #{sentence}
        where
            user_id = #{userId}
            and created_date = #{createdDate}
    </update>

    <select id="selectAllSeedrecord" resultMap="SeedRecordResultMap">
        select
            s.id as seedrecord_id,
            s.user_id,
            s.sentence,
            s.mood_idx,
            s.ai_comment,
            s.created_date,

            m.id as mood_id,
            m.mood as mood_name
        from
            seedrecord s
            left join mood m on m.id = s.mood_idx
        order by
            created_date desc
    </select>
</mapper>