<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace= "com.korit.florographyapi.ShareBoard.mapper.ShareBoardMapper" >

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into share_board values
        (default, #{userId}, #{typeId}, #{body}, #{like}, #{createdAt})
    </insert>
<!--게시글 아이디로 본인꺼 출력-->
    <select id="selectByUserId" resultType="com.korit.florographyapi.entity.ShareBoard">
        select
            id,
            user_id,
            type_id,
            body,
            `like`,
            created_at
        from
            share_board
        where
            user_id = #{userId}
    </select>
<!--게시글 전체 출력-->
    <select id="selectAll" resultType="com.korit.florographyapi.entity.ShareBoard">
        SELECT
            id,
            user_id,
            type_id,
            body,
            `like`,
            created_at
        FROM
            share_board
        WHERE
            created_at >= CASE
<!--                월요일(0)이면서 아직 오전 6시 전이라면 ➡️ 정확히 7일 전 월요일 오전 6시가 기준점-->
                WHEN WEEKDAY(NOW()) = 0 AND HOUR(NOW()) &lt; 6 THEN
                    DATE_ADD(DATE_SUB(CURDATE(), INTERVAL 7 DAY), INTERVAL 6 HOUR)
<!--                그 외 모든 요일(화~일) 및 월요일 오전 6시 이후 ➡️ 이번 주 월요일 오전 6시가 기준점-->
                ELSE
                    DATE_ADD(DATE_SUB(CURDATE(), INTERVAL WEEKDAY(NOW()) DAY), INTERVAL 6 HOUR)
            END
        ORDER BY
            created_at DESC
    </select>
<!--인기순위-->
    <select id="selectRank" resultType="com.korit.florographyapi.entity.ShareBoard">
        select
            id,
            user_id,
            type_id,
            body,
            `like`,
            created_at
        from
            share_board
        WHERE
            created_at >= CASE
                WHEN WEEKDAY(NOW()) = 0 AND HOUR(NOW()) &lt; 6 THEN
                    DATE_ADD(DATE_SUB(CURDATE(), INTERVAL 7 DAY), INTERVAL 6 HOUR)
                ELSE
                    DATE_ADD(DATE_SUB(CURDATE(), INTERVAL WEEKDAY(NOW()) DAY), INTERVAL 6 HOUR)
        END
        order by
            `like` desc,
            created_at desc
            limit 5
    </select>

</mapper>