<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.korit.florographyapi.User.mapper.UserMapper">

    <insert id="insertProviderUser" useGeneratedKeys="true" keyProperty="id">
        insert into provider_user values
        ( default, #{email}, #{provider}, #{providerId}, #{createdAt} )
    </insert>

    <insert id="insertUser" useGeneratedKeys="true" keyProperty="id" >
        insert into user values
        ( default, #{nickname}, #{email}, #{profileImage}, #{createdAt}, default )
    </insert>

    <select id="selectByEmail" resultType="com.korit.florographyapi.entity.User">
        select
            id,
            nickname,
            email,
            profile_image,
            created_at,
            days_connected
        from
            users
        where
            email=#{email}
    </select>


</mapper>